<div id="start_button_div" class="centered">
    <%= link_to image_tag("start_button.png", :id => "start_button", :alt => "start!"), new_event_path %>
</div>
<div id="slogans" class="centered">
    <div id="slogan1">
        plan, share, enjoy
    </div>
    <div id="slogan2">
        events
    </div>
    <div id="slogan3">
        the easy way.
    </div>
</div>
<div id="logo_div" style="margin-top: 90%">
    <%= link_to image_tag("logo.png", :id => "logo", :alt => "plan.it"), root_path %>
</div>
<div id="footernote">
    Created as part of PennApps 2013 - Willy Hauser & Mirai Akagawa
</div>


